@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

.bg-image { 
    background-image: url(./hackingpic.png);
    -webkit-filter: blur(13px);
     
    height: 100%;
    width: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-align:center; color: rgb(255, 255, 255);
}